body {
    margin: 10%;
    box-sizing: border-box;
    background-color: #200006;
}

.card-container {
    text-align: center;
    display: block;
}

.greeting-card {
    font-family: "Kalam";
    font-size: 1.5rem;
    line-height: 1.2rem;
    border: 5px solid #e612a6;
    padding: 2%;
    background-color: #ffffff;
    box-shadow: 0.5vh 0.5vw 2vw #ffffff;
}


.greeting-header {
    font-size: 2.5rem;
    font-weight: bold;
    color: #680011
}
